.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 2em;
}

.title i{
    padding-right: 5px;
}
.docshow{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.form{
    width: 35%;
    /* height: 10em; */
    padding: 10px;
    /* border: 1px solid black; */
}

.docShower{
    width: 55%;
    /* height: 10em; */
    /* border: 1px solid black; */
    justify-content: space-between;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr ; */
    gap: 1em;
}

.nodoc{
    margin: 1px;
    padding: 3px;
    background-color: brown;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
@media screen  and (max-width: 480px){
    .form, .docShower{
        width: 100%;
    }
}

@media screen  and (max-width: 768px){
    .form, .docShower{
        width: 100%;
    }
}

